html {
  width: 100%;
  animation: animationOne 1s ease-in-out forwards infinite;
  user-select: none; }

@keyframes animationOne {
  from {
    background: black; }
  to {
    background: tomato; } }
